*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: #0f0f0f;
  color: #4700ed;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
   background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 100%);
  border-top: 2px solid #4700ed;
  width: 100%;
}